body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

/* ===================NORMALIZE=================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ===================/NORMALIZE=================== */

/* ===================VAR=================== */
:root {
  --brand-color: #4d5ae5;

  --pressed-color: #404bbf;

  --white-color: #fff;

  --primary-color: #2e2f42;

  --text-color: #434455;
  --cloud-color: #f4f4fd;
}
/* ===================/VAR=================== */

/* ===================COMPONENTS=================== */

.btn {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--brand-color);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}
.btn:hover,
:focus {
  background: var(--pressed-color);
}
.section-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.card-title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.card-descr {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
/* ===================/COMPONENTS=================== */

/* ===================HEADER=================== */
.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 76px;
}
.menu-item {
  display: flex;
  gap: 40px;
}
.logo {
  color: var(--brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-part {
  color: var(--primary-color);
}
.menu-item {
  padding: 24px 0;
}
.menu-item a {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.menu-item-link:hover {
  color: var(--pressed-color);
}
.menu-item-link:focus {
  color: var(--pressed-color);
}
.contact {
  font-style: normal;
}
.contact-item {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.contact-item-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.contact-item-link:hover {
  color: var(--pressed-color);
}
.contact-item-link:focus {
  color: var(--pressed-color);
}
/* ===================/HEADER=================== */

/* ===================HERO=================== */
.hero {
  min-height: 600px;
  padding: 188px 0;
  background-color: var(--primary-color);
}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--white-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}
.btn-hero {
  display: block;
  margin: 0 auto;
  min-width: 169px;
}
/* ===================/HERO=================== */

/* ===================ADVANTAGES=================== */
.advantages {
  padding: 120px 0;
  min-height: 344px;
}
.card-wrapper {
  display: flex;
  justify-content: space-between;
}
.card-item {
  max-width: 264px;
}
.card-title {
  margin-bottom: 8px;
}
/* ===================/ADVANTAGES=================== */

/* ===================DOING=================== */
.doing {
  min-height: 500px;
}
.doing-title {
  margin-bottom: 72px;
}
.doing-card {
  display: flex;
  justify-content: space-between;
}
/* ===================/DOING=================== */

/* ===================TEAM=================== */
.team {
  background-color: var(--cloud-color);
  min-height: 732px;
  padding: 120px 0;
}
.team-title {
  margin-bottom: 72px;
}
.team-card-wrapper {
  display: flex;
  justify-content: space-between;
}
.team-card {
  background-color: var(--white-color);
  width: 264px;
  min-height: 348px;
}
.card-text-wrapper {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===================/TEAM=================== */

/* ===================FOOTER=================== */
.footer {
  background-color: var(--primary-color);
  min-height: 312px;
  padding: 100px 0;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 17px;
}
.logo-part-footer {
  color: var(--cloud-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-descr {
  color: var(--cloud-color);
  max-width: 264px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
/* ===================/FOOTER=================== */

/* Portfolio */
/* ===================Filter buttons=================== */
.filter-button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-color: var(--cloud-color);
  color: var(--brand-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}
.filter-button:hover,
:focus {
  background-color: var(--pressed-color);
  color: var(--white-color);
}
/* ===================/Filter buttons=================== */
